<div class="container">
  <br>
  <form>
    <label class="d-flex gap-2 justify-content-center" for="dtFecha">
      Seleccione fecha <input type="date" name="dtFecha" [(ngModel)]="txtFecha">
    </label>
    <br>
    <div class="d-flex gap-2 justify-content-center">
      <a [routerLink]="['../home']"><button type="button" class="btn btn-warning d-inline-flex">Volver a Inicio</button></a>
      <button type="button" class="btn btn-primary d-inline-flex" (click)="obtenerNumerologia()">Buscar</button>
    </div>
  </form>
</div>
