<div class="container">
  <br>
  <form>
    <label class="d-flex gap-2 justify-content-center" for="dtFecha1" style="margin-bottom: 5px;">
      Seleccione fecha 1 <input type="date" name="dtFecha1" [(ngModel)]="txtFecha1">
    </label>
    <label class="d-flex gap-2 justify-content-center" for="dtFecha2">
      Seleccione fecha 2 <input type="date" name="dtFecha2" [(ngModel)]="txtFecha2">
    </label>
    <br>
    <div class="d-flex gap-2 justify-content-center">
      <a [routerLink]="['../home']"><button type="button" class="btn btn-warning d-inline-flex">Volver a Inicio</button></a>
      <button type="button" class="btn btn-primary d-inline-flex" (click)="obtenerCompatibilidad()">Buscar</button>
    </div>
  </form>
</div>
