<div class="container">
  <br>
  <h3 class="text-center">Consultar numerolog&iacute;a</h3>
  <div class="d-flex gap-2 justify-content-center" style="margin-bottom: 5px;">
    <a [routerLink]="['../fecha']"><button type="button" class="btn btn-primary">Por Fecha</button></a>
  </div>
  <div class="d-flex gap-2 justify-content-center" style="margin-bottom: 5px;">
    <a [routerLink]="['../palabra']"><button type="button" class="btn btn-info">Por Palabra</button></a>
  </div>
  <div class="d-flex gap-2 justify-content-center" style="margin-bottom: 5px;">
    <a [routerLink]="['../compatibilidad']"><button type="button" class="btn btn-success">Compatibildad</button></a>
  </div>
</div>